<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
        var latitude;
        var longitude;

      if (navigator.geolocation) { // GPS를 지원하면
          navigator.geolocation.getCurrentPosition(function(position) {
              latitude = position.coords.latitude;
              longitude = position.coords.longitude;
              alret(latitude + ", " + longitude);
          }, function(error) {
              console.error(error);
          }, {
              enableHighAccuracy: false,
              maximumAge: 0,
              timeout: Infinity
          });
      } else {
          alert('GPS를 지원하지 않습니다');
          return;
      }
   </script>
</body>
</html>