<!DOCTYPE html>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html>
<head>
  <meta charset = 'utf-8'>

  <title>Local Shorts'</title>

  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJp8k24XJtMj-2N-ZmkmacLT1mObugGs8&callback=initMap&libraries=&v=weekly"
    defer
  ></script>
  <link rel="stylesheet" href="css/style_note.css">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
      #ok{
        font-family: 'Playfair Display', serif;
        font-size:100px;
        color:#6799FF;
      }
    
      .upButton{
        color:skyblue;
        border:1px solid skyblue;
        background-color:white;
        border-radius:10px;
        width:200px;
        height:80px;
        font-size:30px;
        padding: 0;
      }


      #camInput {
        position: absolute;
        border: 1px solid skyblue;
        border-radius: 50%;
        height: 100px; width: 100px;
        padding: 0;
        border: 0;
        bottom:2%;
        display: none;
      }

      #camInputLabel {
        position: absolute;
        border: 1px solid rgb(135, 177, 235);;
        border-radius: 50%;
        background: white;
        color: rgb(135, 177, 235);
        background-color: white;
        cursor: pointer;
        display: inline-block;
        height: 100px; width: 100px;
        line-height: 100px;
        text-align: center;
        font-size: 30px;
        bottom:2%;
      }
      #myPageMove {
        background-color: rgb(244, 244, 244);
        border: solid 1.5px rgb(143, 143, 143);
        cursor: pointer;
        display: inline-block;
        height: 35px; width: 35px;
        border-radius: 50%;
        line-height: 40px;
        text-align: center;
        font-size: 20px;
        top: 1%;
        margin-right: 20px;
      }
      #mp{
        width: 25px;
        line-height: 40px;
        margin: 0 auto;
      }
      .div1{
        width: 100px;
        margin: 0 auto;
      }
      
      #map {
        height: 90%;
        position: fixed;
        z-index: 0;
      }

      /* Optional: Makes the sample page fill the window. */
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #moreBtn{
        border:none;
        background-color: transparent;
      }
      .nam{
        font-size: 1.2em;
        margin-left: 3%;
        color: rgb(135, 177, 235);
      }
    </style>
        <script>
          function initMap() {
              const myLatLng = {
                lat: 37.6511988,
                lng: 127.0161604
              };
        
            var locations = [
              ['차미리사기념관', 37.6532193, 127.0162689],
              ['대강의동', 37.6537193, 127.0155467],
              ['인문사회대학', 37.6532749, 127.0149912],
              ['도서관', 37.6524416, 127.0158245],
              ['학생회관', 37.6521917, 127.0166022],
              ['자연과학대학', 37.6513863, 127.0172688],
              ['약학대학', 37.6513863, 127.0178521],
              ['대학본부', 37.651414, 127.0150746],
              ['예술대학', 37.6511085, 127.0166856],
              ['유아교육관', 37.6493865, 127.0164634],
              ['기숙사', 37.649331, 127.0217685],
              ['언어교육원', 37.6498032, 127.0206297],
              ['덕우당', 37.650303, 127.015519],
              ['운동장', 37.6495809, 127.0176022],
              ['스머프동산', 37.6523671, 127.0149322],
              ['정보미디어대학', 37.6527533, 127.0165359],
              ['영근터', 37.6510119, 127.0158278],
              ['라온센터', 37.6500048, 127.0190873],
              ['약학관아트홀', 37.6510458, 127.0182461],
              ['하나누리관', 37.6502939, 127.0193974],
              ['민주동산', 37.6517764, 127.0158171],
              ['서울창업허브창동', 37.65549, 127.0481921]
            ];
        
            var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 17,
              center: myLatLng,
            });
        
            var infowindow = new google.maps.InfoWindow();
        
            var marker, i;

            var myIcon = {
              url: "../image/pink1.png", // url
              scaledSize: new google.maps.Size(30, 40), // scaled size
            };
        
            for (i = 0; i < locations.length; i++) {  
              marker = new google.maps.Marker({
                position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                map: map,
                icon:myIcon
              });
        
              google.maps.event.addListener(marker, 'click', (function(marker, i) {
                var location = locations[i][0];
                var browse = '<br><form action = "/auth/videolist" method = "POST"><input type="hidden" value="' + location + '" name = "location"/><button id = "moreBtn" type = "submit" style="color:blue">더보기</button></form>'
                
                
                return function() {
                   infowindow.setContent(locations[i][0]+browse);
                  infowindow.open(map, marker);
                }
              })(marker, i));
            }    
          }
            
          </script>

<article
id="buildingLoca"
building=locations[i][0]>
</article>


</head>
<body>

  <nav>
    <div class="logo"><h1 class="nam">Local Shorts'</h1></div>
    <div class="icon" onclick="toggleNotifi()">
        <img src="img/bell2.png" alt=""> <span>5</span>
    </div>
    <div class="myPage">
      <form action="/auth/mypage" method = "POST">
      <button id="myPageMove" type = "submit"><img id="mp" src="../auth/img/mypage.png" alt=""></button>
      </form>
    </div>
    <div class="notifi-box" id="box">
        <h2>Notification <span><div id="sum">5</div></span></h2>
        <script>
          for(var i = 0; i< 5; i++){
            var a = i + 1
            document.write('<div class="notifi-item">');
            document.write('<img src="img/avatar'+ a +'.jpg" alt="img">');
            document.write('<div class="text"><h4>avatar'+ a +'</h4>');
            document.write('<p>avatar'+ a +'님이 공유한 영상을 확인하세요');
            document.write('</p></div></div>');
          }
        </script>
        
    </div>
</nav> 
<script src="notification.js"></script>
<!-- map -->

    <div id="map"></div>

<!-- video upload -->
     
        <div class="div1">
          <form action="/auth/upload" method = "POST">
          <button type= "submit" id="camInputLabel">+</button>
          </form>
        </div>
      
</body>
</html>