<!DOCTYPE html>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html>
<head>
  <meta charset = 'utf-8'>

  <title>Local Shorts'</title>
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
  <script src="http://code.jquery.com/jquery-latest.js"></script> 
  <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>

  <script src="/soundtag/p5.min.js"></script>
  <script src="/soundtag/p5.dom.min.js"></script>
  <script src="/soundtag/p5.sound.min.js"></script>
  <script src="/soundtag/pitchdetect.js"></script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC1CRIgIqQf_ppOohrDv3FICLc9Lst-pXs&callback=initMap&libraries=&v=weekly"
    defer
  ></script>
  <link rel="stylesheet" href="css/style_note.css">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
      html{
        height: 100%;
      }
      body{
        margin: 0;
        height: 100%;
      }
      #ok{
        font-family: 'Playfair Display', serif;
        font-size:100px;
        color:#6799FF;
      }
    

      #camInputLabel {
        position: absolute;
        left:50%;
        transform: translate(-50%,0);
        border: 1px solid rgb(135, 177, 235);;
        border-radius: 50%;
        background: white;
        color: rgb(135, 177, 235);
        background-color: white;
        cursor: pointer;
        height: 80px; width: 80px;
        line-height: 80px;
        text-align: center;
        font-size: 50px;
        bottom:2%;
      }
      
      #moveSound {
        position: absolute;
        left:10%;
        border: 1px solid rgb(135, 177, 235);;
        border-radius: 50%;
        background: white;
        color: rgb(135, 177, 235);
        background-color: white;
        cursor: pointer;
        height: 50px; width: 50px;
        line-height: 50px;
        font-size: 15px;
        bottom: 2%;
        display: flex auto;
        
      }
      #myPageMove {
        background-color: rgb(244, 244, 244);
        border: solid 1.5px rgb(143, 143, 143);
        cursor: pointer;
        display: inline-block;
        height: 35px; width: 35px;
        border-radius: 50%;
        line-height: 40px;
        text-align: center;
        font-size: 20px;
        top: 1%;
        margin-right: 10px;
      }
      #mp{
        width: 25px;
        line-height: 40px;
        margin: 0 auto;
      }
      .logo{
        padding-left:3%;
      }
    
      #map {
        height: 89.8%;
        position: fixed;
        margin-bottom: 0;
      }

      /* Optional: Makes the sample page fill the window. */

      #moreBtn{
        border:none;
        background-color: transparent;
      }
      .nam{
        font-size: 1.2em;
        color: rgb(135, 177, 235);
      }

      /*검색창*/
      #search{
        border: solid 1.5px rgb(143, 143, 143);
        cursor: pointer;
        display: inline-block;
        line-height: 40px;
        text-align: center;
        font-size: 20px;
        top: 1%;
      }
      
      .search-box {
        /*height : 500px;
        width : 400px;*/
        right : 0px;
        top : 70px;
        opacity : 0;
        z-index: -3;
        position : absolute;
        background-color : white;
        
      }
    
      .search-input {
        font-size : 14px;
        padding : 10px;
        border-bottom : 1px solid;
      }
      #detector{
 	      display: none; 
      }
      
    </style>
        <script>
          function initMap() {
              const myLatLng = {
                lat: 37.6511988,
                lng: 127.0161604
              };
        
            var locations = [
              ['차미리사기념관', 37.6532193, 127.0162689],
              ['대강의동', 37.6537193, 127.0155467],
              ['인문사회대학', 37.6532749, 127.0149912],
              ['도서관', 37.6524416, 127.0158245],
              ['학생회관', 37.6521917, 127.0166022],
              ['자연과학대학', 37.6513863, 127.0172688],
              ['약학대학', 37.6513863, 127.0178521],
              ['대학본부', 37.651414, 127.0150746],
              ['예술대학', 37.6511085, 127.0166856],
              ['유아교육관', 37.6493865, 127.0164634],
              ['기숙사', 37.649331, 127.0217685],
              ['언어교육원', 37.6498032, 127.0206297],
              ['덕우당', 37.650303, 127.015519],
              ['운동장', 37.6495809, 127.0176022],
              ['스머프동산', 37.6523671, 127.0149322],
              ['정보미디어대학', 37.6527533, 127.0165359],
              ['영근터', 37.6510119, 127.0158278],
              ['라온센터', 37.6500048, 127.0190873],
              ['약학관아트홀', 37.6510458, 127.0182461],
              ['하나누리관', 37.6502939, 127.0193974],
              ['민주동산', 37.6517764, 127.0158171],
              ['서울창업허브창동', 37.65549, 127.0481921]
            ];
        
            var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 17,
              center: myLatLng,
            });
        
            var infowindow = new google.maps.InfoWindow();
        
            var marker, i;

            var myIcon = {
              url: "../image/pink1.png", // url
              scaledSize: new google.maps.Size(30, 40), // scaled size
            };
        
            for (i = 0; i < locations.length; i++) {  
              marker = new google.maps.Marker({
                position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                map: map,
                icon:myIcon
              });
        
              google.maps.event.addListener(marker, 'click', (function(marker, i) {
                var location = locations[i][0];
                var browse = '<br><form action = "/auth/videolist" method = "POST"><input type="hidden" value="' + location + '" name = "location"/><button id = "moreBtn" type = "submit" style="color:blue">더보기</button></form>'
                
                
                return function() {
                   infowindow.setContent(locations[i][0]+browse);
                  infowindow.open(map, marker);
                }
              })(marker, i));
            }    
          }
            
          </script>

<article
id="buildingLoca"
building=locations[i][0]>
</article>


</head>
<body>

  <nav class="header">
    
    <div class="logo"><h1 class="nam">Local Shorts'</h1></div>


  <div onclick = "toggleSearch()">
    <img class = "search" src="/image/search_icon.jpg" alt = "" width = "35px" height = "35px">
  </div>

    <div class="icon" onclick="toggleNotifi()">
        <img src="img/bell2.png" alt=""> <span>5</span>
    </div>


    <div class="myPage">
      <form action="/auth/mypage" method = "POST">
      <button id="myPageMove" type = "submit"><img id="mp" src="../auth/img/mypage.png" alt=""></button>
      </form>
    </div>

    <!--알람창-->
    
    <div class="notifi-box" id="box">
        <h2>Notification <span><div id="sum">5</div></span></h2>
        <script>
          for(var i = 0; i< 5; i++){
            var a = i + 1
            document.write('<div class="notifi-item">');
            document.write('<img src="img/avatar'+ a +'.jpg" alt="img">');
            document.write('<div class="text"><h4>avatar'+ a +'</h4>');
            document.write('<p>avatar'+ a +'님이 공유한 영상을 확인하세요');
            document.write('</p></div></div>');
          }
        </script>
        
    </div>

    <!--검색창-->

    
    <div class="search-box" id = "search-box">
    <form action = "/auth/search" method = "POST">
    
      <input type = "text" name = "word" class = "search-input" id = "search-input" placeholder="검색어를 입력하세요.">

      <button type = "submit">검색</button>

    </form>
    <div id = "searchresult" class = "searchresult"></div>



      <div id = "videos">

        <script>
          var searchbox = document.getElementById("search-box");
          var videos = document.getElementById("videos");
          var left = false;
          var open = 0;
          function toggleSearch(){
            if (left) {//열려있으면
              //searchbox.style.width = '0px';
              searchbox.style.zIndex = -3;
              searchbox.style.opacity = 0;
              left = false;
            }else{//닫혀있으면
              //searchbox.style.width = '400px';
              searchbox.style.opacity = 1;
              searchbox.style.zIndex = 2;
              left = true;
            }
          }
        
          
        </script>
        {{!-- <script src = "/controllers/auth.js"></script> --}}
      </div>
      
    </div>
</nav> 
<script src="notification.js"></script>
<!-- map -->

  <div id="map"></div>

<!-- video upload -->
     
    <div class="div1">
      <form action="/auth/upload" method = "POST">
        <script>
          var longitude;
          var latitude;
          var str = "";

          function getLocation() {
                if (navigator.geolocation) { // GPS를 지원하면
                navigator.geolocation.getCurrentPosition(function(position) {
                longitude = position.coords.longitude;
                latitude = position.coords.latitude;  
                 console.log("if안에서" + latitude + ", " + longitude);
                //console.log(longitude+ + ", " + latitude);
                str = "<input type = 'hidden' id = 'latitude' name = 'latitude' value = " + latitude + "><input type='hidden' id = 'longitude' name = 'longitude' value = " + longitude + ">";
                document.getElementById('geo').innerHTML=str;
                console.log(str);
                });
              } else {
                  alert('GPS를 지원하지 않습니다');
              }                         
          }

          getLocation()
          
          </script>
          <p id="geo"></p>
          <button type= "submit" id="camInputLabel">+</button>
        </form>
      </div>

      <script src="/soundtag/sketch.js"></script>
    
    <div id="detector" class="vague">
			<div class="pitch"><span id="pitch">--</span>Hz</div>
			<div class="note"><span id="note">-</span></div>   
			<div id="detune"><span id="detune_amt">--</span><span id="flat">cents ♭</span><span id="sharp">cents ♯</span></div>
		</div>

  <div id = "tagging">
    <form action = "/auth/soundlist" method = "POST">
    <button type = "submit" id = "moveSound">TAG</button>
     <script>
      let note2 = "";
      let noteSpan2;

      function setup() {
        createCanvas(0, 0);
        getAudioContext().resume();
        toggleLiveInput();
        noteSpan2 = select('#pitch');
        // textSize(48);
      }


      function draw() {
        background(220);

        var sound = 0;
        var strSound = ""
        note2 = noteSpan2.html();
        if(note2>=16500 && note2<18000){
          tagging.style.display = 'block';
          console.log(note2);
          var sound =2;
          strSound = "<input type = 'hidden' id = 'sound' name = 'sound' value = " + sound + ">"  
          document.getElementById('soundVar').innerHTML=strSound;
        } 
        else if(note2>=22500 && note2<24000){
          tagging.style.display = 'block';
          console.log(note2);
          var sound =3;
          strSound = "<input type = 'hidden' id = 'sound' name = 'sound' value = " + sound + ">"  
          document.getElementById('soundVar').innerHTML=strSound;

        } 
        else if(note2>=0 && note2<16500){
          setTimeout(function(){
            tagging.style.display = 'none';
          console.log(note2);
          }, 3000)  
        }

      }

    </script>
    <p id="soundVar"></p>   
    </form>  
  </div>

   
      
</body>
</html>
