<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Page</title>
</head>

<style>
  html{
    height: 100%;
  }
  body{
    margin: 0;
        height: 100%;
  }
    .video{
    display: flex;
    margin: 2%;
    }
    #settingsMove {
        border: 1px solid rgb(236, 243, 255);
        background: rgb(236, 243, 255);
        color: rgb(135, 177, 235);
        background-color: rgb(236, 243, 255);
        cursor: pointer;
        display: inline-block;
        text-align: center;
        font-size: 20px;
        top:1%;
      }
      #bbaek {

        border: 1px solid rgb(236, 243, 255);
        background: rgb(236, 243, 255);
        color: rgb(135, 177, 235);
        background-color: rgb(236, 243, 255);
        cursor: pointer;
        display: inline-block;
        text-align: center;
        font-size: 20px;
        top:1%;
        /* font-weight: bold; */
      }
      .div1{
        width: 100px;
        float: right;
      }
      /* .nickName{
        color: skyblue;
      } */
      header {  
        height: 10%;
        color: rgb(135, 177, 235);
        background-color: white
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: solid;
      }
      .div1{
        width: 100px;
        margin: 0 auto;
      }
      h1{
        width: 151;
        margin: 0 auto;
      }
</style>
<header>
  <div>
  <form action="/auth/map" method = "POST">
  <button id="bbaek" >&lt;</button>
  </form>
  </div>
    <h1>{{username}}</h1>
    <nav>
        <div>
        <form action="/auth/settings" method = "POST">
        <button id="settingsMove" >settings</button>
        </form>
        </div>
    </nav>
  </header>
<body>
    <!-- <h2 class="nickName">NickName</h2> -->
    <script language = "javascript">
        // 경로를 받을 배열
        // var pathAry = new Array();
        var pathAry = 4
        var a = 4
        if (a%2==0){
            for (var i = 0; i < a-1; i+=2){
                document.write('<div class="video"> \
<<<<<<< HEAD
                    <video class="video" width="46%"loop controls> \
                    <source src="video/cha'+(i+1)+'.mp4" \
                    type="video/mp4"></video>\
                    <video class="video" width="46%" loop controls> \
=======
                    <video class="video" height="48%" width="48%"loop controls> \
                    <source src="video/cha'+(i+1)+'.mp4" \
                    type="video/mp4"></video>\
                    <video class="video" height="48%" width="48%" loop controls> \
>>>>>>> 5b264a2d49e6e2eff67bd7fb152454e0c975e754
                    <source src="video/cha'+(i+2)+'.mp4" \
                    type="video/mp4"></video></div>')
            }
        }
        else{
            for(var i = 0; i < a-1; i+=2){
                document.write('<div class="video"> \
<<<<<<< HEAD
                    <video class="video" width="46%"loop controls> \
                    <source src="video/cha'+(i+1)+'.mp4" \
                    type="video/mp4"></video>\
                    <video class="video" width="46%" loop controls> \
=======
                    <video class="video" height="48%" width="48%"loop controls> \
                    <source src="video/cha'+(i+1)+'.mp4" \
                    type="video/mp4"></video>\
                    <video class="video" height="48%" width="48%" loop controls> \
>>>>>>> 5b264a2d49e6e2eff67bd7fb152454e0c975e754
                    <source src="video/cha'+(i+2)+'.mp4" \
                    type="video/mp4"></video></div>')
            }
            document.write('<div class="video"> \
<<<<<<< HEAD
                    <video class="video" width="46%"loop controls> \
=======
                    <video class="video" height="48%" width="48%"loop controls> \
>>>>>>> 5b264a2d49e6e2eff67bd7fb152454e0c975e754
                    <source src="video/cha'+a+'.mp4" \
                    type="video/mp4"></video>')
        }
               
        
    </script>
    <!-- <div class="div1"><button onclick = "location.href='map.html'" id="camInputLabel" >X</button></div> -->
</body>
</html>