<!DOCTYPE html>
<html>
    <head>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset = 'utf-8'>

        <title>Register</title>

        <style>
            *{
                box-sizing: border-box;
            }
            .title {
                width: 300px;
                margin: 0 auto;
                margin-bottom: 30px;
                margin-top: 10px;
                color: rgb(135, 177, 235);
            }
            .title h1{
                display: flex;
                justify-content: center;
            }
            body{
                margin: 0;
                background-color: rgb(236, 243, 255);
            }

            .register_dive{
                width: 300px;
                border: 0;
                background-color: #f7f7f7;
                border-radius: 5px;
                margin: 0 auto;
                padding: 20px;
            }

            .text-field{
                font-size: 14px;
                margin-bottom: 10px;
                border: none;
                border-radius: 5px;
                padding: 10px;
                width: 100%;
            }

            #signUp{
                display: inline-block;
                width: 100%;
                font-size: 14px;
                color: #EEEFF1;
                background-color: rgb(135, 177, 235);
                margin-bottom: 30px;
                padding: 10px;
                border: none;
                border-radius: 5px;
            }
            .links{
                text-align: center;
            }
            .links a{
                font-size: 12px;
                color: #9b9b9b;
            }
            .alert{
                text-align: center;
                color: rgb(255, 123, 123);
            }            
        </style>

        
    </head>

    <body>
      <div class="title"><h1>Local Shorts'</h1></div>
      <div class="register_dive">
        <form action="/auth/register" method="POST">
            <input type="email" placeholder="Email" class="text-field" id="email" name = "email"/>
            <input type="password" placeholder="Password" class="text-field" id="password" name="password"/>
            <input type="text" placeholder="nickname" class="text-field" id="nickname" name="nickname"/>
            <button id="signUp" type="submit" class = "btn_register">회원가입</button>
        </form>
         
        <div class="links">
            
            <a href="/login">로그인하러 가기</a>

        </div>

        <!-- <br>
        <br>
        <a href="register.html"><button id="Register">회원가입</button></a> -->

        {{#if message}}
            <h5 class = "alert">{{message}}</h5>
        {{/if}}

      </div>

      {{!-- <script src = "js/register.js"></script> --}}

    
      

    </body>


</html>
