<!DOCTYPE html>
<html lang="en">
<style>
    html{
    height: 100%;
    }
    body{
    margin: 0;
    height: 100%;
    
    justify-content: center;
    }
        .prof_img{
            width: 200px;
            height: 200px;
            border-radius: 50%;
            display: flex;
            margin: 50px auto;
            cursor: pointer;
        }


        .des{
            font-size: 20px;
            margin-bottom: 20px;
            border: none;
            border-bottom: solid 2px rgb(143, 143, 143);
            border-radius: 5px;
            padding: 10px;
            width: 70%;
        }
        .bt{
            margin-top: 30px;
            border: none;
            background-color: transparent;
            color: rgb(135, 177, 235);
            cursor: pointer;
            display: inline-block;
            
            font-size: 15px;
            font-weight: bold;
            
        }
        #camInput {
        
        border: 1px solid skyblue;
        border-radius: 50%;
        height: 100px; 
        width: 100px;
        border: 0;
        justify-content: center;
        display: none;
      }
        h1{
    width: 151;
    margin: 0 auto;
    display: block;
  }
    header {  
    height: 10%;
    color: rgb(135, 177, 235);
    background-color: white;
    font-weight: bold;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1.5px rgb(218, 218, 218);
    top : 0;
    display: flex;
  }
  .lay{
    height: 90%;
    margin: 0;
    text-align: center;
  }
    </style>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Revise</title>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
</head>
<header>

 
    <h1>Profile</h1>
  </header>
<body>
    <div class="lay">
        {{!-- <button><img class="prof_img" src="../auth/img/profile.jpg"></button> --}}


      <script>
        var imgpaths = "{{imgpaths}}";
        str = "";
        str = '<label for="camInput" id="camInputLabel"><img class="prof_img" src='+imgpaths+' id = "imageview"></label>'
        document.write(str);
      </script>
      <form action="/auth/mypagere" enctype="multipart/form-data" method="POST">

        <input type="file" onchange="imgchange()" name="uploadfile" accept="image/*"; capture="camera" id="camInput">

        <script>
          var nickname2 = "{{username}}";
          str = "";
          str = '<input type="text" value='+nickname2+' placeholder="NickName..." id="nickname" class="des" name = "nickname"/>';
          document.write(str);
        </script>
        {{#if message}}
            <h5 class = "alert">{{message}}</h5>
        {{/if}}
          <br>
          <button class="bt" type="submit">변경하기</button>
        </form>
    </div>
      <script>
          
        function imgchange() {
            var fileInput = document.getElementById("camInput").files;
            console.log(fileInput[0]);
            
        }

        $('#camInput').on('change', function() {
            //ext = $(this).val().split('.').pop().toLowerCase();
            file = $('#camInput').prop("files")[0];
            blobURL = window.URL.createObjectURL(file);
            $('#imageview').attr('src', blobURL);
            $(this).slideUp();
            console.log(file.name);
            
        });
      </script>
</body>
</html>