<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Searchvideo</title>
    <style>
        #title{
            color : rgb(135, 177, 235)
        }
        #novideo{
            color : rgb(143, 143, 143);
        }
        #bbaek {
            width: 52px;
            font-weight: bold;
            border: none;
            background: rgb(255, 255, 255);
            color: gray;
            cursor: pointer;
            display: inline-block;
            text-align: center;
            font-size: 20px;
            top:1%;
        }
        header {  
            height: 10%;
            position : fixed;
            width: 100%;
            background-color: white;
            top : 0;
            left: 0;

            border-bottom: solid 1.5px rgb(218, 218, 218);
            color: rgb(135, 177, 235);
            display: flex;
            align-items: center;
            
        }
        body{
            padding-top: 120px;
            height: 90%;
            margin: 0;
        }
        @media screen and (max-width:767px){
            fieldset{
        border: none;
        }
        }
        @media screen and (min-width:768px){
            fieldset{
        border: none;
        margin: 0 auto;
        }
        }
        .video{
            border-radius: 10px;
            
        }
        .search-box{
            width: 100%;
        }
        form{
            display: inline-block;
        }
        #search-input{
            width: 40vw;
            height: 3.5vh;
            margin-left: 25px;
            border: 0;
            border-radius: 15px;
            outline: none;
            background-color: rgb(233, 233, 233);
        }
        #search{
            border:none;
            background-color: transparent;
        }
        #box{
            margin-left: 20%;
            display: inline-block;

        }
    </style>
</head>
<body>
    <header>
    <div class="search-box" id = "search-box">
        <form action="/auth/map" method = "POST">
            <button id="bbaek" >&lt;</button>
        </form>

        <div id="box">
        <form id = "form1" action = "/auth/search" method = "POST">
        
        <input type = "text" name = "word" id = "search-input" placeholder="검색어를 입력하세요.">

        <button  id="search" class = "searchBtn" type = "submit"><img class = "searchImg" src="/image/search-icon-png-18.png" alt = "" width = "25vw" height = "25vh"></button>
        
        </form>
        </div>
    </div>
    </header>

    <fieldset>
    <div id = "searchresult" class = "searchresult"></div>

    {{!-- <h2 id = "title">#{{word}}#의 검색결과입니다</h2> --}}

    <script language = "javascript">
        var videopath = "{{videopath}}";
        if (videopath.length !== 0) {
            videopath = videopath.split(",");
            var a = videopath;

            if (a.length%2==0){
                for (var i = videopath.length-1; i > 0; i -= 2){
                    document.write('<div class="video"> \
                        <video class="video" width="46%"loop controls> \
                        <source src="'+videopath[i]+'" \
                        type="video/mp4"></video>\
                        <video class="video" width="46%" loop controls> \
                        <source src="'+videopath[i-1]+'" \
                        type="video/mp4"></video></div>')
                }
            }
            else{
                for (var i = videopath.length-1; i > 1; i -= 2){
                    document.write('<div class="video"> \
                        <video class="video" width="46%"loop controls> \
                        <source src="'+videopath[i]+'" \
                        type="video/mp4"></video>\
                        <video class="video" width="46%" loop controls> \
                        <source src="'+videopath[i-1]+'" \
                        type="video/mp4"></video></div>')
                }
                document.write('<div class="video"> \
                        <video class="video" width="46%"loop controls> \
                        <source src="'+videopath[0]+'" \
                        type="video/mp4"></video>')
            }
        }else{
          document.write("<h5 id = 'novideo'>검색결과가 없습니다.</h5>");

        }

        
    </script>

    </fieldset>
</body>
</html>