<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="./css/upload.css"> -->

    <style>
        html{
            height: 100%;
        }
        body{
            background-color: rgb(236, 243, 255);
            margin: 0 auto;
            height: 100%;
        }
        header {  
            height: 10%;
        color: rgb(135, 177, 235);
            background: white;

            display: flex;
            justify-content: space-between;
            align-items: center;
            /* margin-left: 2%; */
            /* border-style: solid; */
            border-bottom: solid 1.5px rgb(218, 218, 218);
        }
        #select{
            border-radius: 10px;
            width: 130px; height:25px;
            border: none
        }
        .select2{
            padding: 0;
            background: transparent;
            color:rgb(78, 130, 203);
            border: none;
            
        }
        .div1{
            float:left;
        }
        #hiddenBtn{
            padding: 0;
            background-color: transparent;
            border: none;
            color: blue;

        }
        @media screen and (max-width:767px){
            fieldset{
                width: 80%;
                border: none;
                border-radius: 10px;
                margin: 10px auto;
                background: white;
            }
            .div2{
                width:80%;
                height: 30px;s
                margin: 10px auto;
                padding: 0;
                line-height: 30px;
            }
        }

        @media screen and (min-width:768px){
            fieldset{
                width: 50%;
                border: none;
                border-radius: 10px;
                margin: 10px auto;
                background: white;
            }
            .div2{
                width:50%;
                height: 30px;
                margin: 10px auto;
                padding: 0;
                line-height: 30px;
            }
        }

        .upButton{
        justify-content: center;
        float:right;
        right:10px;
        color:rgb(135, 177, 235);
        border:none;
        background-color:rgb(236, 243, 255);
        width:50px;
        height:25px;
        font-size:15px;
        padding: 0;
        border-radius: 5px;
        margin-top: 5px;

        }

        #camInput {
        position: absolute;
        border: 1px solid skyblue;
        height: 40px; width: 100px;
        padding: 0;
        border: 0;
        display: none;
        }

        #camInputLabel {
        display: block;
        position: relative;
        background: white;
        background-color: rgb(244, 244, 244);
        cursor: pointer;
        display: inline-block;
        height: 30px; width: 100px;
        line-height: 30px;
        border-radius: 5px;
        font-size: 15px;
        text-align: center;
        }

        .filebox .upload-name {
            height: 20px;
            font-size:15px;
            display: inline-block;
            line-height: 20px;
            vertical-align: middle;
            background-color: #f5f5f5;
            border: 1px solid #ebebeb;
            border-bottom-color: #e2e2e2;
            border-radius: .25em;
            -webkit-appearance: none; /* 네이티브 외형 감추기 */
            -moz-appearance: none;
            appearance: none;
        }

        img{
        width: 20px; height: 20px;
        line-height: 20px;
        margin-right: 3px;
        position: absolute;
        top: 10px;
        }
        #videoSub{
        text-align: center;
        }
        #id{
            display: block;
        }
        #nam{
            margin-left: 3%;
            font-size: 1.5em;
        }
        #username{
            visibility: collapse;
   
        }
        .upButton[disabled]{
            color:#c3c3c3;
        }
        .upButton:hover:not([disabled]){
            background:white;
            cursor: pointer;
        }
    </style>


    <script src="https://code.jquery.com/jquery-3.6.0.slim.js" integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <h1 id="nam">Local Shorts'</h1>
      </header>
      
    <form id ="form1" enctype="multipart/form-data" method="POST" action="/auth/mapp" id="videoSub">
        <div class="div2">
        <button id = "upButton" class="upButton" type = "submit" disabled="disabled">공유</button>
        </div>

        <fieldset>
        <div class="div1">
        <div class="filebox">
        <label for="camInput" id="camInputLabel">동영상 선택</label>
        <input type="file" name="uploadfile" accept="video/*";capture="camera" id="camInput" class="upload-hidden">
        <input class="upload-name" placeholder="영상 이름">
        </div>
        <script>
            $(document).ready(function(){
                var fileTarget = $('.filebox .upload-hidden');
                fileTarget.on('change', function(){
                    if(window.FileReader){
                        var filename = $(this)[0].files[0].name;
                        $('#upButton').removeAttr('disabled');
                    }
                    else{
                        var filename = $(this).val().split('/').pop().split('\\').pop();
                        $('#upButton').attr('disabled', 'true');
                    }
                    $(this).siblings('.upload-name').val(filename);
                });
                
            });
        </script>
        <p>태그:
        <input type = "text" name = "comment" cols = "30" rows = "10" placeholder = "#태그">
        </div></fieldset>
        <fieldset>
            <label><input type="checkbox" name="uploadType" value = "1" checked>게시물</label><p></p>
            <div id="originSelect" display="block">
            <a>위치: </a>
            <select name="loc" id="loc">
                <optgroup label="주변 건물">
                <script>
                    const b_name = "{{buildingname}}".split(',');
                    str = "";
                    for (var name of b_name){
                        str += '<option value = "' + name +'">' + name + '</option> </br>'
                    }
                    console.log(str);   
                    document.write(str);
            
                </script>
            </optgroup>
            <optgroup label="직접 선택">
            <option value="대강의동">대강의동</option>
            <option value="차미리사기념관">차미리사기념관</option>
            <option value="인문과학대학">인문과학대학</option>
            <option value="도서관">도서관</option>
            <option value="학생회관">학생회관</option>
            <option value="자연과학대">자연과학대학</option>
            <option value="약학대학">약학대학</option>
            <option value="대학본부">대학본부</option>
            <option value="예술대학">예술대학</option>
            <option value="유아교육관">유아교육관</option>
            <option value="기숙사">기숙사</option>
            <option value="언어교육원">언어교육원</option>
            <option value="덕우당">덕우당</option>
            <option value="운동장">운동장</option>
            <option value="스머프동산">스머프동산</option>
            <option value="정보미디어대학">정보미디어대학</option>
            <option value="영근터">영근터</option>
            <option value="라온센터">라온센터</option>
            <option value="약학관아트홀">약학관아트홀</option>
            <option value="하나누리관">하나누리관</option>
            <option value="민주동산">민주동산</option>
            </optgroup>
            </select><br>

                {{!-- <input id="selectLoc" type='submit'> --}}
                {{!-- <iframe id="iframe1" name="iframe1" style="display:none"></iframe> --}}
            {{!-- </form> --}}
            <h4>공개범위</h4>
            <label><input type="radio" name="range" value="all">전체</label>
            <label><input type="radio" name="range" value="friend">친구</label>
            <label><input type="radio" name="range" value="select">특정친구</label>
        </fieldset>
        
        <fieldset>
            <label><input type="checkbox" name="uploadType" value="2">현재 공간에 영상 등록</label>
            <h4>공개범위</h4>
            <label><input type="radio" name="s_range" value="s_all">전체</label>
            <label><input type="radio" name="s_range" value="s_friend">친구</label>
            <label><input type="radio" name="s_range" value="s_select">특정친구</label>
        </fieldset>

    </form>


</body>
</html>