<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        .naming{
        color: skyblue;
        margin-left: 5%;
        }
        header {  
            height: 10%;
            color: rgb(135, 177, 235);
            background-color: white;
            font-weight: bold;
            /*display: flex;*/
            justify-content: space-between;
            align-items: center;
            border-bottom: solid;
            position : sticky;
            top : 0;
        }
        body{
            margin: 0;
            height: 100%;
        }
        
    </style>
</head>
<body>
    <header>
        <h4 class="naming">{{location}}</h4>

    </header>
    

    <script>
        
        const path = "{{videopath}}".split(',');
        str = "";
        for (var name of path){
            str += '<video class="video" width="100%" loop controls><source src ="' + name + '" type = "video/mp4"></br></video>'
        }
        
        document.write(str);
        
            
    </script>

    
</body>
</html>