<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        .naming{
        color: skyblue;
        margin-left: 5%;
        }
        header {  
            height: 10%;
            color: rgb(135, 177, 235);
            background-color: white;
            font-weight: bold;
            /*display: flex;*/
            justify-content: space-between;
            align-items: center;
            border-bottom: solid;
            position : sticky;
            top : 0;
        }
        body{
            margin: 0;
            height: 100%;
        }
        #videos{
            padding : 3%;

        }
        
    </style>
</head>
<body>
    <header>
        <h4 class="naming">{{location}}</h4>

    </header>
    

    <script>
        const pnu = "{{pnu}}".split(',');
        console.log(pnu);
        str = "";
        
        for (let i = pnu.length; i > 0; i -= 1){
            str += '<div id = "videos"><h4>' + pnu[i-1] + '</h4><video class="video" width="100%" loop controls><source src ="' + pnu[i-1] + '" type = "video/mp4"></br></video></br></div>'
            console.log(pnu[i]);
        } 

        /*for (let i = 0 ; i < pnu.length ; i += 2){
            str += '<div id = "videos"><h4>' + pnu[i] + '</h4><video class="video" width="100%" loop controls><source src ="' + pnu[i+1] + '" type = "video/mp4"></br></video></br></div>'
            console.log(pnu[i], pnu[i+1]);
        }   */     
        document.write(str);

    
        
            
    </script>

    
</body>
</html>